.list {
  list-style: none;
}

.headerLogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.imgLogo {
  width: 250px;
  margin: auto;
  padding-bottom: 15px;
}

.formWrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 30px;
  margin-bottom: 40px;
}

.inputSearch{
  width: 300px;
  margin: auto;
}

.characterCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
}

.imgCharacter {
  width: 180px;
}

.linkBack{
  display: flex;
  justify-content: center;
  margin:auto;
  text-decoration: none;
  color: white;
}

.iconBack{
  color:white;
  padding: 10px;
}

/*.characterDetailWrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}*/

.characterDetail{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: cadetblue;
  width: fit-content;
  padding: 20px;
}

.characterData{
  padding-left: 30px;
}

.notFoundText{
  text-align: center;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
