.list {
  list-style: none;
}

.headerLogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.imgLogo {
  width: 250px;
  margin: auto;
  padding-bottom: 15px;
}

.formWrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 30px;
  margin-bottom: 40px;
}

.inputSearch{
  width: 300px;
  margin: auto;
  border: cadetblue solid 3px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

::placeholder { color: white; }

.characterCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  @media all and (max-width:768px){
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
}

.imgCharacter {
  width: 180px;
  @media all and (max-width:768px){
    width: 100px;
  }
}

.backgroundCardList{
  background-color: cadetblue;
  width: fit-content;
}

.cardText{
  padding: 0px 2px 5px 5px;
  @media all and (max-width: 768px){
    padding: 0px 1px 2.5px 2.5px;
  }
}

.linkBack{
  display: flex;
  justify-content: center;
  margin:auto;
  text-decoration: none;
  color: white;
}

.iconBack{
  color:white;
  padding: 10px;
}

.characterDetail{
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: cadetblue;
  width: fit-content;
  padding: 20px;
}

.characterData{
  padding-left: 30px;
}

.notFoundText{
  text-align: center;
}



